In [4]:
import pandas as pd

In [5]:
df_user = pd.read_csv('users.csv', header = 0, sep = ',')
df_user.head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [18]:
df_user.shape

(10037, 3)

In [21]:
df_user.info

<bound method DataFrame.info of       user_id    age_group language_preferred
0       a1000   0-18 years            English
1       a1001  19-24 years            English
2       a1002  24-30 years            English
3       a1003  30-36 years            English
4       a1004  36-45 years            English
...       ...          ...                ...
10032  a11032  45-55 years             German
10033  a11033    55+ years             German
10034  a11034    55+ years             German
10035  a11035   0-18 years             German
10036  a11036   0-18 years             German

[10037 rows x 3 columns]>

In [22]:
df_user.describe

<bound method NDFrame.describe of       user_id    age_group language_preferred
0       a1000   0-18 years            English
1       a1001  19-24 years            English
2       a1002  24-30 years            English
3       a1003  30-36 years            English
4       a1004  36-45 years            English
...       ...          ...                ...
10032  a11032  45-55 years             German
10033  a11033    55+ years             German
10034  a11034    55+ years             German
10035  a11035   0-18 years             German
10036  a11036   0-18 years             German

[10037 rows x 3 columns]>

In [23]:
df_user.describe(include=['object', 'bool'])

       user_id    age_group language_preferred
count    10037        10037              10037
unique   10037            7                  4
top      a1000  19-24 years            English
freq         1         1682               9275

In [24]:
df_user['language_preferred'].value_counts()

English    9275
Spanish     450
German      167
Arabic      145
Name: language_preferred, dtype: int64

In [25]:
df_user['age_group'].value_counts()

19-24 years    1682
24-30 years    1568
0-18 years     1539
30-36 years    1355
36-45 years    1353
45-55 years    1353
55+ years      1187
Name: age_group, dtype: int64

In [6]:
df_subscribers = pd.read_csv('subscribers.csv', header = 0, sep = ',')
df_subscribers.head()

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True

In [26]:
df_subscribers.shape

(10037, 5)

In [27]:
df_subscribers.info

<bound method DataFrame.info of       user_id subscribing_channel date_subscribed date_canceled is_retained
0       a1000           House Ads          1/1/18           NaN        True
1       a1001           House Ads          1/1/18           NaN        True
2       a1002           House Ads          1/1/18           NaN        True
3       a1003           House Ads          1/1/18           NaN        True
4       a1004           House Ads          1/1/18           NaN        True
...       ...                 ...             ...           ...         ...
10032  a11032               Email         1/17/18       1/24/18       False
10033  a11033               Email         1/17/18           NaN        True
10034  a11034               Email         1/17/18           NaN        True
10035  a11035               Email         1/17/18           NaN        True
10036  a11036               Email         1/17/18           NaN        True

[10037 rows x 5 columns]>

In [28]:
df_subscribers.describe

<bound method NDFrame.describe of       user_id subscribing_channel date_subscribed date_canceled is_retained
0       a1000           House Ads          1/1/18           NaN        True
1       a1001           House Ads          1/1/18           NaN        True
2       a1002           House Ads          1/1/18           NaN        True
3       a1003           House Ads          1/1/18           NaN        True
4       a1004           House Ads          1/1/18           NaN        True
...       ...                 ...             ...           ...         ...
10032  a11032               Email         1/17/18       1/24/18       False
10033  a11033               Email         1/17/18           NaN        True
10034  a11034               Email         1/17/18           NaN        True
10035  a11035               Email         1/17/18           NaN        True
10036  a11036               Email         1/17/18           NaN        True

[10037 rows x 5 columns]>

In [30]:
df_subscribers.describe(include=['object', 'bool'])

       user_id subscribing_channel date_subscribed date_canceled is_retained
count    10037                1856            1856           577        1856
unique   10037                   5              31           115           2
top      a1000           Instagram         1/16/18        4/2/18        True
freq         1                 600             163            15        1279

In [ ]:
df_subscribers['subscribing_channel'].value_counts()

In [31]:
df_subscribers['is_retained'].value_counts()

True     1279
False     577
Name: is_retained, dtype: int64

In [7]:
df_marketing_campaign = pd.read_csv('marketing_campaign.csv', header = 0, sep = ',')
df_marketing_campaign.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True

In [34]:
df_marketing_campaign.shape

(10037, 6)

In [35]:
df_marketing_campaign.info

<bound method DataFrame.info of       user_id date_served marketing_channel          variant  \
0       a1000      1/1/18         House Ads  personalization
1       a1001      1/1/18         House Ads  personalization
2       a1002      1/1/18         House Ads  personalization
3       a1003      1/1/18         House Ads  personalization
4       a1004      1/1/18         House Ads  personalization
...       ...         ...               ...              ...
10032  a11032     1/17/18             Email          control
10033  a11033     1/17/18             Email          control
10034  a11034      1/5/18         Instagram          control
10035  a11035     1/17/18             Email          control
10036  a11036      1/6/18          Facebook          control

      language_displayed converted
0                English      True
1                English      True
2                English      True
3                English      True
4                English      True
...                  ...       ...
10032             German      True
10033             German      True
10034             German     False
10035             German      True
10036             German     False

[10037 rows x 6 columns]>

In [36]:
df_marketing_campaign.describe

<bound method NDFrame.describe of       user_id date_served marketing_channel          variant  \
0       a1000      1/1/18         House Ads  personalization
1       a1001      1/1/18         House Ads  personalization
2       a1002      1/1/18         House Ads  personalization
3       a1003      1/1/18         House Ads  personalization
4       a1004      1/1/18         House Ads  personalization
...       ...         ...               ...              ...
10032  a11032     1/17/18             Email          control
10033  a11033     1/17/18             Email          control
10034  a11034      1/5/18         Instagram          control
10035  a11035     1/17/18             Email          control
10036  a11036      1/6/18          Facebook          control

      language_displayed converted
0                English      True
1                English      True
2                English      True
3                English      True
4                English      True
...                  ...       ...
10032             German      True
10033             German      True
10034             German     False
10035             German      True
10036             German     False

[10037 rows x 6 columns]>

In [37]:
df_marketing_campaign.describe(include=['object', 'bool'])

,user_id,date_served,marketing_channel,variant,language_displayed,converted
count,10037,10021,10022,10037,10037,10022
unique,10037,31,5,2,4,2
top,a1000,1/15/18,House Ads,control,English,False
freq,1,789,4733,5091,9793,8946

In [41]:
df_marketing_campaign['marketing_channel'].value_counts()

House Ads    4733
Instagram    1871
Facebook     1860
Push          993
Email         565
Name: marketing_channel, dtype: int64

In [40]:
df_marketing_campaign['variant'].value_counts()

control            5091
personalization    4946
Name: variant, dtype: int64

In [39]:
df_marketing_campaign['language_displayed'].value_counts()

English    9793
Spanish     136
German       81
Arabic       27
Name: language_displayed, dtype: int64

In [38]:
df_marketing_campaign['df_marketing_campaign'].value_counts()

False    8946
True     1076
Name: converted, dtype: int64

In [42]:
df_marketing_campaign['marketing_channel'].value_counts(normalize = True).head()

House Ads    0.472261
Instagram    0.186689
Facebook     0.185592
Push         0.099082
Email        0.056376
Name: marketing_channel, dtype: float64

In [24]:
# Загрузить, просмотреть, определить количество строк и склеить 3 датасета:
pre_df = df_user.merge(df_marketing_campaign, on = ['user_id'], how = 'left')
Total_df=pre_df.merge(df_subscribers, on = ['user_id'], how = 'left')

print('Размер датасета Total_df:', Total_df.shape)
Total_df.head()

Размер датасета df_3: (10037, 12)

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,0-18 years,English,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
1,a1001,19-24 years,English,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
2,a1002,24-30 years,English,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
3,a1003,30-36 years,English,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
4,a1004,36-45 years,English,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True

In [33]:
# Определить эффективность маркетинговых каналов по привлечению платящих игроков.
marketing_campaign_fltr = df_marketing_campaign[df_marketing_campaign['converted'] == 1]
# marketing_campaign_fltr.head()
marketing_campaign_fltr['marketing_channel'].value_counts(normalize = True).head()

House Ads    0.276952
Instagram    0.246283
Facebook     0.220260
Email        0.179368
Push         0.077138
Name: marketing_channel, dtype: float64

In [22]:
# Определить самую раннюю дату подписки на сервис.
df_subscribers[['date_subscribed']].min(axis=1).head(1)

0    1/1/18
dtype: object

In [46]:
# Определить портрет аудитории удержанных подписчиков (по возрасту и языку).

portret = Total_df[Total_df['is_retained'] == 1]
portret[['age_group', 'language_preferred']]
portret[['age_group', 'language_preferred']].value_counts(normalize = True).head()

age_group    language_preferred
19-24 years  English               0.237686
24-30 years  English               0.195465
0-18 years   English               0.164191
30-36 years  English               0.089132
45-55 years  English               0.084441
dtype: float64